extends layouts/landing

block content
	#container
		header.wrapper
			#header_container.center
				a(href='/')
					h1
						img#logo(alt="MODIVLE",src='/img/logo/modivleblack.png')
				span#login
				a.header_link#features Features 
				a.header_link#home Home

				#tabarrow
					.back
					.front

		#main
			#carousel.wrapper
					.slides
						.slide#one
							img.image(src='/img/landing/main.png')
							h1.tagline A NUS IVLE Client. <span>Reloaded.</span>
					.nav
						
			.wrapper.page.featured
				h1.pagetitle.center Features
				article.center
					.list
						.text
							h3.title Less noise, more work
							p.desc
								| IVLE minus the clutter.
								br
								| No popups, blinking text or annoying iframes.
							img#lessnoise(src='/img/landing/lessnoise.jpg')
					.list
						.text
							h3.title Any device
							p.desc
								| Access MODIVLE from your desktop or your phone.
								br
								| The mobile version is not just a smaller desktop version.
								br
								| It is a completely reworked application to fully maximise the user experience.
						img#mobile(src='/img/landing/mobile.png')
					.list
						.text
							h3.title Only the stuff you really need
							p.desc
								span.emphasis announcements 
								span.emphasis workbin 
								span.emphasis forum 
								del.strikethrough weblinks 
								del.strikethrough career center 
								del.strikethrough library portal 
								del.strikethrough used textbooks 
								del.strikethrough student events 
								del.strikethrough bookmarks 
								del.strikethrough communities 
								del.strikethrough my organiser 
								del.strikethrough resource banks 
								del.strikethrough profile 
								del.strikethrough usage statistics 
						img#onlythestuff(src='/img/landing/onlythestuff.png')
					.list
						.text
							h3.title Blitz through the application
							p.desc
								| Keyboard shortcuts allow you to navigate the application to get what you want faster.
						img#keyboard(src='/img/landing/keyboard.jpg')
					.list
						.text
							h3.title Designed for happiness*
							p.desc
								| *Results may vary.
		.push


	footer.wrapper
		#footer_container.center
			a(href='/privacy').footer_link Privacy
			
			span &nbsp;
			
			a(href='https://github.com/ymichael/modivle',target="_blank").footer_link Source
			
			span &nbsp;
			
			a(href='mailto:modivle@yrmichael.com').footer_link Contact Us

			span &nbsp;

			span.footer_right built by @_ymichael.
			
			a(href="https://mixpanel.com/f/partner").mixpanel
				img(src="https://mixpanel.com/site_media/images/partner/badge_blue.png",alt="Mobile Analytics")		

block otherscripts
	script
		$(function(){
			var activetab = function(view){
				$(".active").removeClass("active");
				if (view === "home"){
					$("#home").addClass("active");
					$("#tabarrow")
						.removeClass()
						.addClass("home");
				} else if (view === "features") {
					$("#features").addClass("active");
					$("#tabarrow")
						.removeClass()
						.addClass("features");
				}
			};
			var scrollspy = function(e){
				var current = window.scrollY;
				var active = current < 490 ? "home" : "features";

				if (active !== state.view) {
					activetab(active);
					state.view = active;
				}
			};
			// EVENT HANDLERS
			$(window).on("scroll", scrollspy);
			var state = {};
			state.view = null;
			//show banner.
			$("#one").addClass("enter");
			scrollspy();
		});


