extends layouts/landing

block content
	#container
		header.wrapper
			#header_container.center
				img#logo(alt="modivle logo",src='/img/logo/modivleblack.png')
				
				
				span.header_link#login login
				span.header_link#features features
				span.header_link#about about

				#tabarrow
					.back
					.front

		#main
			section.wrapper#banner
				.center
					.content
						.slide
							img(src='/img/landing/main.png')
						.slide
					.tagline A NUS IVLE Client. <span>Less but better.</span>
		.push


	footer.wrapper
		#footer_container.center
			span.footer_link Release Notes
			span.footer_link Terms of Service
			span.footer_link The Stack
			span.footer_link Acknowledgements
			span.footer_link Contact Us

			//- span.footer_right f


	




	if env == "dev"
		script(data-main="/js/landing_main", src="/js/libs/require.js")
	else
		script(src="/js/landing_main.js")
