extends layouts/landing

block content
	//- #fbsdk.
	//- 	<div id="fb-root"></div>
	//- 	<script>(function(d, s, id) {
	//- 		var js, fjs = d.getElementsByTagName(s)[0];
	//- 		if (d.getElementById(id)) return;
	//- 		js = d.createElement(s); js.id = id;
	//- 		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=115616068562331";
	//- 		fjs.parentNode.insertBefore(js, fjs);
	//- 	}(document, 'script', 'facebook-jssdk'));</script>
	#container
		header.wrapper
			#header_container.center
				img#logo(alt="modivle logo",src='img/logo/modivleblack.png')
				
				
				span.header_link login
				span.header_link.active features
				span.header_link about

				.tabarrow
					.back
					.front

		section.wrapper#banner
			.center
				.content
					//- p Mobile 
					//- 	br	
					//- 	span means everywhere.			
					//- img(src='/img/landing/test.png')
				p.tagline A NUS IVLE Client. Less but better.

		
		.push


	footer.wrapper
		#footer_container.center
			span.footer_link Release Notes
			span.footer_link Terms of Service
			span.footer_link Contact Us


	




	if env == "dev"
		script(data-main="/js/login", src="/js/libs/require.js")
	else
		script(src="/js/login.js")
