extends layouts/app

block content
	#overlay
	#container
		header
			#header_container
				#logout(title='logout')
		#main
			#main_container
				#leftbar
				#content
			//- for sticky footer.
			.push
	footer
		#footer_container
			p built by <a href="http://twitter.com/_ymichael" target="_blank">@_ymichael</a> using <a href="http://expressjs.com" target="_blank">expressjs</a> and <a href="http://backbonejs.org" target="_blank">backbonejs</a> . source code can be found <a href="https://github.com/ymichael/modivle" target="_blank">here</a> on github.

			a(href='/privacy').footer_link Privacy
			a(href='mailto:modivle@yrmichael.com').footer_link Contact Us


	script(type='text/javascript') 
		var bootstrap = !{JSON.stringify(bootstrap)};
	
	if env == "dev"
		script(data-main="/js/desktop_main", src="/js/libs/require.js")
	else
		script(src="/js/desktop_main.js")