#overlay
  .loading please be patient, loading your modules...
    #close
#container
  header
    #header_container
  #main_container
script(data-main="js/main", src="js/libs/require.js")
script(type='text/javascript') 
  var bootstrap = !{JSON.stringify(bootstrap)};