#container
  header
    #header_container
      img#logo(src='img/logo.png')
  #main_container
script(data-main="js/main", src="js/libs/require.js")
script(type='text/javascript') 
  var bootstrap = !{JSON.stringify(bootstrap)};