!!!
html
  head
    title= title
    meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel="stylesheet/less", href="css/main.less")
    script(src="js/libs/less-1.1.5.min.js")
  body!= body