!!! 5
html
  head
    title= title
    meta(charset="utf-8")
    meta(name='description',content="A NUS IVLE Client")
    link(rel="stylesheet", href="css/main.css")
    script(type="text/javascript").
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30405365-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

      // ADD THIS AT THE BOTTOM OF YOUR GOOGLE ANALYTICS TRACKING CODE //
      window.onerror = function(message, file, line) { 
         var sFormattedMessage = '[' + file + ' (' + line + ')] ' + message; 
         _gaq.push(['_trackEvent', 'Exceptions', 'Application', sFormattedMessage, null, true]);
      }
  body!= body