extends layouts/app

block content
	#overlay
		.loading
			#close
	#container
		header
			img#logo(src='img/logo/modivleblack.png')
			#logout
		#main
		footer
	script(type='text/javascript') 
		var bootstrap = !{JSON.stringify(bootstrap)};
	
	if env == "dev"
		script(data-main="js/mobile_main", src="js/libs/require.js")
	else
		script(src="js/mobile_main.js")