extends layouts/app

block content
	#overlay
		.loading
			#close
	#container
		header
			#header_container
		#main
			#main_container
		footer
			#footer_container
	script(type='text/javascript') 
		var bootstrap = !{JSON.stringify(bootstrap)};
	script(data-main="js/mobile_main", src="js/libs/require.js")