extends layouts/app

block content
	#overlay
		.loading
			#close
	//- #container
		header
			img#logo(src='img/logo/modivleblack.png')
			#logout
		#main
			.module
				.text
					.code CS2020
					.desc Data Structures and Algorithms
			.module
				.text
					.code CS2020
					.desc Data Structures and Algorithms
			.module
				.text
					.code CS2020
					.desc Data Structures and Algorithms
			.module
				.text
					.code CS2020
					.desc Data Structures and Algorithms
		footer
			#footer_container
	#container
		header.modulepage
			.headericon#back.left
			.headericon#home.center
			.headericon#logout.right
		#main
			.title CS2020
			.nav
				.tab.active announcements
				.tab workbin
		footer
			#footer_container
	script(type='text/javascript') 
		var bootstrap = !{JSON.stringify(bootstrap)};
	script(data-main="js/mobile_main", src="js/libs/require.js")