extends layouts/app

block content
	#overlay
		.loading
			#close
	#container
		header
			#header_container
				#logout(title='logout')
		#main
			#main_container
				#leftbar
				#content
		footer
			#footer_container
				p built by <a href="http://twitter.com/_ymichael" target="_blank">@_ymichael</a> using <a href="http://expressjs.com" target="_blank">expressjs</a> and <a href="http://backbonejs.org" target="_blank">backbonejs</a> . source code can be found <a href="https://github.com/ymichael/modivle" target="_blank">here</a> on github.
	script(type='text/javascript') 
		var bootstrap = !{JSON.stringify(bootstrap)};
	script(data-main="js/mobile_main", src="js/libs/require.js")