extends layouts/app

block content
	#overlay
	#container
		header
			img#logo(src='/img/logo/modivleblack.png')
			#logout
		#main
	footer.wrapper
		#footer_container.center
			a(href='/privacy').footer_link Privacy
			a(href='https://github.com/ymichael/modivle',target="_blank").footer_link Source
			a(href='mailto:modivle@yrmichael.com').footer_link Feedback

			a.footer_right built by @_ymichael.


	script(type='text/javascript') 
		var bootstrap = !{JSON.stringify(bootstrap)};
	
	if env == "dev"
		script(data-main="/js/mobile_main", src="/js/libs/require.js")
	else
		script(src="/js/mobile_main.js")