@import "base.less";

@pagewidth: 960px;
@leftbar: 120px;
@content: @pagewidth - @leftbar;
@secondarycolor: darken(#d70000, 10%);
@light: #e5e5e5;

body {
	font-family: "Open Sans", arial, sans-serif;
	font-weight: normal;
	color: #333;
	letter-spacing: -1px;
	font-size: 18px;
}

/*
OVERLAY
*/
#overlay {
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.1);
	z-index: 50;
	display: none;
	width: 100%;
	height: 100%;
	.modal {
		background: white;
		border-radius: 6px;
		.box-shadow(0px 4px 12px rgba(0,0,0,0.4));
		color: black;
		padding: 0;
		margin: auto;
		position: relative;
		top: 100px;
		#overlay_close {
			position: absolute;
			top: 0;
			right: 0;
			height: 12px;
			width: 12px;
			padding: 17px;
			background-image: url(/img/close.png);
			background-size: 100%;
			background-origin: content-box;
			background-repeat: no-repeat;
		}
		&.message {
			padding: 50px;
			text-align: center;
			width: 400px;
			font-weight: 300;
			font-size: 20px;
		}
		&.keyboardshortcuts {
			padding: 15px;
			width: 500px;
			.title {
				font-weight: 600;
				margin-bottom: 15px;
			}
			.contents {
				height: 240px;
				margin: 10px 0;
				.col {
					height: 100%;
					float: left;
					.coltitle {
						margin-bottom: 10px;
						font-size: 14px;
						color: #555;
					}
					&.navigation {
						margin-right: 75px;
						.row {
							.keys {
								width: 70px;
							}
						}
					}
					&.jumping {
						.row {
							.keys {
								width: 90px;
							}
						}		
					}
					.row {
						height: 40px;
						margin-bottom: 2px;
						span {
							font-weight: 300;
							letter-spacing: normal;
							display: inline-block;
							float: left;
							height: 40px;
							line-height: 40px;
						}
						.keys {
							.key {
								margin-right: 3px;
								padding: 2px 8px;
								line-height: 26px;
								height: 28px;
								min-width: 18px;
								#gradient > .vertical(whiteSmoke, @light);
								.box-shadow(inset 0 1px 0 white);
								.box-shadow(0 1px 0 #ccc);
								.border-radius(3px);
								border: 1px solid #ccc;
								font-size: 15px;
								color: #555;
								text-align: center;
							}
						}
						.desc {
							font-size: 16px;
							margin-left: 3px;	
						}
					}
				}

			}
		}
	}
}

/*
MODULES
*/
.moduleview {
	margin: 3px;
	height: 30px;
	padding: 5px;
	.modulecode {
		word-wrap: break-word;
		display: block;		
		font-size: 19px;
		line-height: 30px;
		color: #999;
		font-weight:300;
		letter-spacing: -1px;

	}
	&.active{
		.modulecode {
			color: black;
			font-weight: 400;
		}
	}
	&.highlight {
		background-color: @light;
	}
}
/*
TABS
*/
#tabs {
	width: 100%;
	float: left;
	border-bottom: solid 1px @light;
	text-transform: capitalize;
	.tab {
		float:left;
		font-size: 18px;
		padding: 5px 0px;
		margin-right: 15px;
		margin-bottom: -1px;
		cursor: pointer;
		color: #999;
		font-weight: 300;
	}
	.active {
		font-weight: 600;
		color: black;
		border-bottom: solid 1px;
	}
}

header, #main, footer {
	width: 100%;
}
#header_container, #main_container, #footer_container {
	width: @pagewidth;
	margin: auto;
}
#header_container {
	padding: 10px 0px;
	#logout {
		float: right;
		height: 20px;
		width: 20px;
		padding: 5px 0px;
		background-size: 100%;
		background-origin: content-box;
		background-repeat: no-repeat;
		background-image: url(/img/power.png);
		cursor: pointer;
	}
}
/*
STICKY FOOTER
*/
html, body {
	height: 100%;
}
#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: 30px;
	clear: both;
	//.push must be the same height as .footer 
}
footer {
	color: #999;
	text-align: right;
	font-spacing: normal;
	font-size: 14px;
	#footer_container {
		p {
			font-weight: 300;
			padding-left: 5px;
		}
		a { 
			font-weight: 300;
			color: #999; 
		}
	}
}
#main_container {
	#leftbar {
		width: @leftbar;
		float: left;
		margin: 40px 0px;
	}
	#content {
		width: @content;
		float: right;
		margin-bottom: 100px;
	}
}


/*
GENERIC STYLES
*/
#tabcontent {
	width: 100%;
	float: left;
	margin: 10px 0px;
}
.tabheading {
	padding-bottom: 7px;
	font-size: 17px;
	line-height: 30px;
	.clearfix();
}
.tabrow {
	overflow: hidden;
	padding: 5px 0px;
	width: 100%;
	min-height: 32px;
	position: relative;
	font-size: 15px;
	line-height: 32px;
	border-bottom: solid 1px #eee;
	cursor: pointer;
	.rowname {
		float: left;
		width: 55%;
		height: 100%;
		position: relative;
		span {
			display: block;
			padding-left: 5px;
		}
	}
	.rowicon {
		height: 30px;
		width: 30px;
		margin-right: 5px;
		float: left;
		background-size: 100%;
		background-origin: content-box;
		background-repeat: no-repeat;
	}
	.rowcol2 {
		float: left;
		width: 25%;
		height: 100%;
		font-size: 12px;
		color: lighten(#555, 20%);
	}
	.rowcol3 {
		float: left;
		width: 20%;
		height: 100%;
		font-size: 12px;
		color: lighten(#555, 20%);
	}
}
.tabrowinfo {
	background-color: @light;
	border-top: solid 1px darken(@light, 30%);
	// border-bottom: solid 1px darken(@light, 30%);
	.box-shadow(0 4px 2px -2px darken(@light, 30%));
	z-index: 2;
	cursor: auto;
	font-size: 14px;
}
.itemview {
	&:hover {
		margin-top: -1px;
		background-color: #eee;
		border-top: solid 1px #bbb;
		border-bottom: solid 1px #bbb;
	}
}
.inforow {
	cursor: auto;
	padding: 10px 0;
	text-align: center;
}
//unique markup display. (add as encountered)
.postbody {
	//when announncement is wrapped in p tags.
	p {
		font-size: inherit;
		font-weight: inherit;
		line-height: inherit;
		margin: 10px 0;
	}
	//link colors
	a {
		color: black;
	}
}
.posttitle {
	border-bottom: dashed 1px @light;
	position: relative;
	padding: 5px 0;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 300;
	.posttitlemain {
		width: @content - 120;
	}
	span.main {
		font-size: 19px;
		line-height: 23px;
	}
	span.author {
		text-transform: uppercase;
		color: @secondarycolor;
	}
	span.dot {
		display: inline-block;
		padding: 0 3px;
		font-weight: bold;
		color: #888;
	}
	span.date {
		position: absolute;
		right: 3px;
		top: 10px;
		width: 120px;
		text-align: right;
	}
}
.tabpost {
	margin: 3px 0;
	position: relative;
	padding: 10px 7px;
	border: solid 1px @light;
	.postbody {
		padding-bottom: 10px;
		font-size: 15px;
		line-height: normal;
		font-weight: 300;
	}
}
.breadcrumbs {
	.breadcrumb {
		float: left;
		.arrow {
			margin: 2px 3px 2px 7px;
			display: inline-block;
			width: 0; 
			height: 0; 
			border-top: 4px solid transparent;
			border-bottom: 4px solid transparent;
			border-left: 7px solid #888;
		}
		.icon {
			padding: 0px;
			background-origin: content-box;
			background-repeat: no-repeat;
			background-size: 100%;
		}
		.workbinicon {
			height: 30px;
			width: 30px;
			background-image: url(/img/folder.png);
		}
		.forumicon {
			height: 30px;
			width: 30px;
			background-image: url(/img/speech.png);
		}
	}
	.parent {
		cursor: pointer;
	}
	.parent:hover span{ 
		text-decoration: underline;
	}
	.current {
		color: black;
	}
}


/*
FORUM
*/
#forumcontainer {
	position: relative;
	.tabheading {
		margin-bottom: 0;
		.box-shadow(0 4px 2px -2px rgba(0,0,0,.25));
	}
	.itemview {
		// height: 90px;
		overflow: hidden;
		.rowicon {
			&.headingicon {
				background-image: url(/img/speech.png);
			}
			&.threadicon{
				background-image: url(/img/speech2.png);
			}
		}
	}
	.posttitle {
		border: none;
		padding: 0;
		margin: 0;
		.posttitlemain {
			margin-left: 35px;
			width: @content - 120 - 35px;
		}
		span.main {
			font-size: 18px;
			line-height: 30px;
		}
		span.date {
			top: 0;
		}
	}
}
#forumsinglethreadview {
	margin-top: -2px;
	border-bottom: solid 1px @light;
	.forumpost {
		border: none;
		border-top: solid 1px @light;
		padding: 10px 0 0 0;
		.posttitlemain {
			margin: 0 0 10px 0 !important;
		}
		span.date {
			top: 5px;
		}
		.subthreads {
			// border-left: dotted 1px @light;
			.forumpost {
				margin-left: 35px;
			}
		}
		.inforow {
			border-top: solid 1px @light;
		}
	}
	.subthreads {
		.forumpost {
			// margin-right: -8px;
		}
		.subthreadicon {
			position: absolute;
			left: -25px;
			top: 13px;
			background-image: url(/img/subthread.png);
			background-repeat: no-repeat;
			background-size: 100%;
			width :13px;
			height: 20px;
			opacity: 0.7;
		}
	}
	
}


/*
ANNOUNCEMENTS
*/
.announcementsview {
	margin-top: -10px;
}

/*
WORKBIN
*/
#filescontainer {
	border-bottom: solid 1px @light;
	.folder {
		text-align: center;
		padding: 10px 0px;
		span {
			font-size: 14px;
		}
	}
}
.notification {
	font-size: 10px;
	font-weight: bold;
	line-height: 15px;
	padding: 0px 5px;
	color: white;
	text-align: center;
	border-radius: 100px;
	position: absolute;
	right: -4px;
	bottom: 0px;
	background-color: @secondarycolor;
}
.folderview .rowicon{
	position: relative;
	background-image: url(/img/folder.png);
}
.fileview .rowicon {
	position: relative;
	background-image: url(/img/filetypes/_blank.png);
	.notification {
		right: -4px;
		bottom: -5px;
		background-color: @secondarycolor;
		border: solid 2px @light;
	}
}
