@import "base.less";
@pagewidth:850px;
@light: #e5e5e5;
@secondarycolor: #d70000;
@footerheight: 100px;
/*
STICKY FOOTER
*/
html, body {
	height: 100%;
}
#container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -@footerheight; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
	height: @footerheight;
	clear: both;
	//.push must be the same height as .footer 
}
body {
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 300;
	letter-spacing: -1px;
	color: #333;
}
/*
HEADER
*/
#tabarrow {
	.transition(right 0.2s ease-in);
	position: absolute;
	width: 20px; 
	height: 12px; 
	bottom: -1px;
	display: none;
	&.features {
		display: block;
		right: 81px;
	}
	&.home {
		display: block;
		right: 155px;
	}
	.front {
		position: absolute;
		top: 3px;
		left: 2px;
		width: 0; 
		height: 0; 
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 10px solid white;	
	}
	.back {
		position: absolute;
		top: 0;
		left: 0;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 12px solid darken(@light, 0);	
	}
}
header {
	border-bottom: solid 1px @light;
	z-index: 10;
	position: fixed;
	top: 0;
	background: white;
	.box-shadow(0 0px 3px rgba(0,0,0,0.2));
	#header_container {
		height: 70px;
		#logo {
			width: 120px;
			height: 26px;
			margin-top: 30px;
			float: left;
		}
		.header_link {
			float: right;
			display: inline-block;
			font-size: 18px;
			line-height: 40px;
			margin: 25px 0 5px 20px;
			margin-left: 20px;
			color: #bbb;
			text-transform: capitalize;
			cursor: pointer;
			&.active {
				color: black;
				cursor: auto;
			}
		}
		#login {
			float: right;
			display: inline-block;
			height: 20px;
			width: 20px;
			background-image: url(/img/power.png);
			background-size: 100%;
			background-repeat: no-repeat;
			background-origin: content-box;
			padding: 10px;
			margin: 25px 0 5px 20px;
		}
	}
}
#main {
	padding-top: 70px;
	padding-bottom: 50px;
}
/*
BANNER
*/
#carousel {
	margin-bottom: 30px;
	height: 480px;
	.box-shadow(inset 0 -1px 3px rgba(0,0,0,0.2));
	.slides {
		width: @pagewidth;
		height: 465px;
		padding: 5px 0;
		overflow: hidden;
		margin: auto;
	}
	.slide {
		width :100%;
		height: 100%;
		position: relative;
		overflow: hidden;
	}
	.nav {
		display: none;
		background-color: #555;
		height: 20px;
		margin: auto;
		margin-top: 25px;
		width : 100px;
	}
}
/*
SLIDES
*/
#one {
	.image {
		opacity: 0;
		display: block;
		width: 740px;
		height: 417px;
		margin: 0 auto;
		.transition(opacity 0.5s ease-in 1s);
	}
	.tagline {
		position: absolute;
		bottom: -55px;
		text-align: center;
		width: 100%;
		font-size: 35px;
		text-align: center;
		letter-spacing: -2px;
		.transition(bottom 0.3s ease 1.7s);
		span {
			font-weight: 600;
		}
	}
	&.enter {
		.image {
			opacity: 1;
		}
		.tagline {
			bottom: 15px;
		}
	}
}
/*
PAGE STRUCTURE
*/
.pagetitle {
	font-size: 35px;
	// text-align: center;
	padding: 10px 0;
}
.wrapper {
	width: 100%;
	.center {
		width: @pagewidth;
		position: relative;
		margin: auto;
	}
}

/*
FEATURES
*/
.featured {
	article {
		.box-shadow(0 1px 3px #999);
		border-top: solid 1px @light;
		border-radius: 3px;	
	}
	.list {
		height: 230px;
		padding: 0 30px;
		position: relative;
		border-bottom: 1px solid @light;
		overflow: hidden;
		&:nth-child(even){
			.text {
				float: right;
			}
		}
		.text {
			float: left;
			text-align: left;
			padding: 50px 0;
			width: 450px;
			.title {
				font-size: 23px;
				font-weight: 600;
				margin: 10px 0;
			}
			.desc {
				font-weight: 300;
				color: #555;
				letter-spacing: normal;
				font-size: 15px;
				line-height: 22px;
				span {
					padding-right: 4px;
				}
				.strikethrough {
					text-decoration: line-through;
				}
			}
		}
		img {
			position: absolute;
		}
	}
}
#lessnoise {
	width: 350px;
	height: 298px;
	top: 30px;
	right: 50px;
}
#onlythestuff {
	width: 340px;
	height: 224px;
	right: 0px;
	bottom: -25px;
	.box-shadow(-2px -2px 8px rgba(0,0,0,0.2));
}
#keyboard {
	width: 340px;
	height: 206px;
	.box-shadow(2px -2px 8px rgba(0,0,0,0.2));
	top: 30px;
	left: -5px;
}
#mobile {
	top: 15px;
	left: 70px;
	width: 200px;
	height: 426px;
}
/*
FOOTER
*/
footer {
	overflow: hidden;
	font-size: 14px;
	background-color: #e5e5e5;
	a {
		color: #999;
		display: inline-block;
		font-size: 15px;
		line-height: 40px;
		padding-top: 5px;
		font-weight: 300;
		text-decoration: none;
	}
	.footer_link {		
		float: left;
		margin-right: 20px;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
	.mixpanel {
		clear: both;
		float: left;
	}
	.footer_right {
		color: #bbb;
		text-shadow: 1px 2px 3px #eee;
		float: right;
	}
}

/*
BASIC MARKUP
*/
.content {
	h1,h2,h3,h4,h5,h6 { 
		font-weight: 400 
	}
	h1 { 
		font-size: 225%;
		margin-top: 25px;
		margin-bottom: -20px;
		font-weight: 300;
	}
	h2 { 
		font-size: 145%;
		margin-top: 40px;
	}
	p,li {
		font-weight: 300;
		line-height: 30px;
		font-size: 18px;
		margin: 10px 0;
	}
	li {
		list-style: disc;
		margin-left: 25px;
	}
	a {
		color: @secondarycolor;
		font-weight: 300;
		text-decoration: none;
	}
}