@pagewidth: 960px;

body {
	font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
	font-weight: normal;
	color: #555;
	letter-spacing: -1px;
}
#overlay {
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 50;
	display: none;
	width: 100%;
	height: 100%;
	.loading {
		font-size: 20px;
		margin: auto;
		position: relative;
		top: 100px;
		background-color: white;
		display: block;
		width: 400px;
		color: #555;
		border :solid 1px;
		text-align: center;
		padding: 50px;
		#close {
		position: absolute;
		top: 5px;
		right: 5px;
		height: 15px;
		width: 15px;
		background-size: 100%;
		background-origin: content-box;
		background-repeat: no-repeat;
		background-image: url(/img/close.png);
		cursor: pointer;
		}
	}
}
#container {
	height: 100%;
	width: 100%;
	padding: 0;
}
header, #main, footer {
	width: 100%;
	float: left;
}
#header_container, #main_container, #footer_container {
	width: @pagewidth;
	margin: auto;
}
#header_container {
	margin-top: 15px;
	#logout {
		float: right;
		height: 20px;
		width: 20px;
		padding: 10px 10px;
		background-size: 100%;
		background-origin: content-box;
		background-repeat: no-repeat;
		background-image: url(/img/logout.png);
		cursor: pointer;
	}
}
#footer_container {
	text-align: right;
	font-size: 14px;
	a { 
		color: black; 
	}
}
#main_container {
margin-bottom: 50px;
}
#leftbar {
	width: 200px;
	float: left;
}
#content {
	width: 750px;
	float: right;
	min-height: 300px;
	#tabs {
	width: 100%;
	float: left;
	border-bottom: solid 1px darken(#e5e5e5, 10%);
		.tab {
			float:left;
			font-size: 13px;
			padding: 5px 10px;
			margin-right: 5px;
			margin-bottom: 5px;
		}
	}
	#tabcontent {
	width: 100%;
	float: left;
		border: solid 1px #e5e5e5;
		min-height: 400px;
	}
}


// subviews
.moduleview {
	cursor: pointer;
	margin-bottom: 5px;
	min-height: 35px;
	padding: 5px;
	border: solid 1px darken(#e5e5e5, 0%);
	position: relative;
	.modulecode {
		word-wrap: break-word;
		display: block;
		position: relative;
		left: 35px;
		width: 150px;
		top: 6px;
		margin-bottom: 10px;
		font-size: 20px;
		letter-spacing: -1px;
	}
	.moduleicon {
		position: absolute;
		padding: 5px;
		height: 23px;
		width: 23px;
		background-size: 100%;
		background-origin: content-box;
		background-repeat: no-repeat;
		background-image: url(/img/module.png);
	}
}
.moduleview:hover {
	border: solid 1px #555;
}
.moduleview.active{
	border: solid 1px #555;
	cursor: auto;
	border-right: solid 4px #555;
}


#filescontainer {
	border: solid 1px #e5e5e5;
	.folder {
		text-align: center;
		padding: 10px 0px;
		span {
			font-size: 14px;
		}
	}
}
#workbinheading {
	height: 40px;
	.breadcrumbs {
		padding: 5px 0px;
		.breadcrumb {
			border-left: solid 1px #e5e5e5;
			.arrow {
			display: inline-block;
			height: 15px;
			width: 15px;
			background-origin: content-box;
			background-repeat: no-repeat;
			background-size: 100%;
			background-image: url(/img/next.png);
			}
			float: left;
			font-size: 18px;
			padding: 5px;
			padding-left: 5px;
		}
		.parent {
			cursor: pointer;
		}
		.parent:hover span{ 
			text-decoration: underline;
		}
		.current {
			color: black;
		}
	}
}

#filescontainertop {
	background-color: #e5e5e5;
	border-top: solid 1px darken(#e5e5e5, 30%);
	border-bottom: solid 1px darken(#e5e5e5, 30%);
	height: 30px;
	cursor: auto;
	span {
		position: absolute;
		bottom: 8px;
		color: #555;
		font-size: 14px;
		display: block;
	}
}
.itemview:hover {
	background-color: lighten(#e5e5e5, 3%);
}
.itemview {
	width: 100%;
	height: 40px;
	position: relative;
	padding-top: 5px;
	font-size: 14px;
	border-bottom: solid 1px darken(#e5e5e5,10%);
	cursor: pointer;
	.itemname {
		float: left;
		width: 55%;
		height: 100%;
		position: relative;
		span {
		position: absolute;
		bottom: 12px;
		display: block;
		margin-left: 45px;
		}
		.itemicon {
		position: absolute;
		left: 0;
		padding: 5px;
		height: 25px;
		width: 25px;
		background-size: 100%;
		background-origin: content-box;
		background-repeat: no-repeat;
		}

	}
	.itemtype {
		float: left;
		width: 25%;
		height: 100%;
		span {
		position: absolute;
		bottom: 12px;
		display: block;
		font-size: 12px;
		color: lighten(#555, 20%);
		}
	}
	.itemsize {
		float: left;
		width: 20%;
		height: 100%;
		span {
		position: absolute;
		bottom: 12px;
		font-size: 12px;
		display: block;
		color: lighten(#555, 20%);
		}
	}
}
.folderview {
	.itemicon{
	background-image: url(/img/folder.png);
	}
}
.fileview {
	.itemicon {
	background-image: url(/img/filetypes/_blank.png);
	}
}