@header-color: #262626;
.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
#container {
	height: 100%;
	width: 100%;
	margin: 0; 
	padding: 0;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
background-color: @header-color;
z-index: 50;
.box-shadow(0 1px 2px rgba(0,0,0,0.5));
top:0;
left:0;
width: 100%;
position: fixed;
	#header_container {
	width: 100%;
		#logo {
		height: 30px;
		padding: 5px 5px 5px;
		}	
	}

}

#main_container {
width: 100%;
height: 100px;
}
#loginwrapper {
	margin: 50px auto;
	height: 100px;
	width: 200px;
	border: solid 1px;
	#login {
		display: block;
		padding: 10px;
		cursor: pointer;
	}
}
#mainview {
margin-top: 45px;
padding-bottom: 50px;
	#leftbar {
		width: 300px;
		min-height: 300px;
		border-right :solid 1px #e5e5e5;
		float: left;
	}
	#contentcontainer {
		width: 600px;
		float: left;
		min-height: 300px;
		//border: solid 1px;
	}

}
.loading {
background-image:url(/img/loading.gif);
background-position: center top;
background-size: 100%;
background-repeat: no-repeat;
}
.moduleview {
	margin: 5px;
	padding: 20px 5px;
	min-height: 100px;
	border: solid 1px darken(#e5e5e5, 10%);
	position: relative;
	//border-top: solid 1px darken(#e5e5e5, 10%);
	.modulename {
	font-size: 17pt;
	font-weight: 100;
	letter-spacing: -1px;
	}
	.modulecode {
		display: block;
		position: absolute;
		left: 5px;
		top: 5px;
		font-size: 11pt;
		font-weight: 600;
		letter-spacing: -1px;
	}
	.moduleicons {
		position: absolute;
		right: 5px;
		bottom: 5px;
		.moduleicon {
		float: left;
		background-size: 100%;
		padding: 2px;
		margin: 0px 3px;
		background-origin: content-box;
		background-repeat: no-repeat;
		height: 25px;
		width: 25px;
		cursor: pointer;
		}
		.workbin {
		background-image: url(/img/workbin.png);
		}
		.gradebook {
		background-image: url(/img/gradebook.png);
		}
		.webcast {
		background-image: url(/img/webcast.png);
		}
	}
}