@import "base.less";

@pagewidth:100%;
header, footer, #container {
width: @pagewidth;
margin: 0 auto; 
padding: 0;
float: left;
}
#container {
	#main_container {
	width: @pagewidth;
	}
}
body {
font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
font-weight: normal;
letter-spacing: -1px;
}
header {
border-bottom: solid 1px #e5e5e5;
	#header_container {
	width: @pagewidth;
	height: 40px;
	margin: auto;
		#logo {
			height: 30px;
			margin: 5px;
			float: left;
		}
		#login {
		height: 20px;
		float: right;
		width: 25px;
		padding: 7px 10px;
		background-size: 100%;
		background-origin: content-box;
		background-repeat: no-repeat;
		background-image: url(/img/logout.png);
		cursor: pointer;
		}
	}
}

.page {
float: left;
padding: 5px;
position: relative;
	.desc {
	padding: 0px 5px;
	float: left;
		.title {
		font-size: 30px;
		letter-spacing: -3px;
		}
		.text {
		font-size: 17px;
		font-family: georgia, serif;
		}
		a {
		color: #555;
		}
	}
	.pagetitle {
		font-size: 30px;
		letter-spacing: -4px;
		text-align: center;
		border-top: dashed 1px black;
		border-bottom: dashed 1px black;
		opacity: 0.3;
	}
	.content {
	position: relative;
	float: left;
	margin-bottom: 5px;
		.imgwrapper {
		display: none;
		float: right;
		width: 200px;
		height: 100px;
		position: relative;
		}
	}
	.content:nth-child(odd){
//	text-align: right;
	}

}

#features {
	//images
	img#mobile {
	height: 300px;
	position: absolute;
	top: -70px;
	left: 70px;
	}
	img#simple {
	height: 250px;
	position: absolute;
	right: -40px;
	top: -30px;
	}
	img#github {
	height: 200px;
	position: absolute;
	right: 0px;
	top: -40px;
	}	
}

#getintouch {
	.desc {
		float: left;
		margin-bottom: 5px;
	}
	.contact {
		float: left;
		margin: 5px;
		width: 100%;
		.field {
		position: relative;
		height: 40px;
		width: 100%;
		float: left;
			.icon{
				height: 30px;
				width: 30px;
				background-size: 100%;
				background-repeat: no-repeat;
				float: left;
			}
			.label{
				float :left;
				font-size: 18px;
				letter-spacing: -2px;
				color: #555;
				padding: 5px 10px;
			}
			a {
				color: #555;
			}
		}
		#twitter {
			.icon {
				background-image: url(/img/logo/twitter.png);
			}
		}
		#mail {
			.icon {
				background-image: url(/img/logo/mail.png);
			}
		}
	}
}

#top {
width: 100%;
	#screenshotwrapper {
	width: 250px;
	margin: auto;
		#screenshot {
			width: 250px;
		}
	}
	#titledesc {
	font-size: 25px;
	letter-spacing: -2px;
	text-align: center;
	}
	#fblike {
	display: none;
	position: relative;
		.fb-like {

		}
	}
}


footer {
height: 50px;
background-color: #e5e5e5;
border-top: dashed 1px;
	#footer_container {
	width: @pagewidth;
	margin: auto;
	text-align: right;
	font-size: 14px;
		a { color: black; }
	}
}