@import "base.less";

@light:#e5e5e5;
@secondarycolor: #d70000;
#overlay {
	position: fixed;
	top: 0;	
	/* Fallback for web browsers that doesn't support RGBa */
	//background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.2);
	z-index: 50;
	display: none;
	width: 100%;
	height: 100%;
	.loading {
		font-size: 20px;
		margin: auto;
		position: relative;
		top: 100px;
		background-color: white;
		display: block;
		width: 60%;
		color: darken(#555, 30%);
		border :solid 1px;
		text-align: center;
		padding: 10%;
	}
}
#container {
	height: 100%;
	width: 100%;
	margin: 0 auto; 
	padding: 0;
}
body {
	font-family: "Open Sans", arial, sans-serif;
	font-weight: normal;
	color: #333;
	letter-spacing: -1px;
	font-size: 18px;
}
header, #main, footer {
	width :100%;
}
#main {
	.clearfix();
}
header {
	position: relative;
	height: 50px;
	// border-bottom: solid 1px @light;
	.box-shadow(0 2px 1px -1px rgba(0,0,0,.2));
	#logo {
		display: block;
		width: 100px;
		height: 20px;
		padding: 17px 0 13px 0;
		margin: 0 auto;
	}
	#logout {
		position: absolute;
		right: 0;
		top: 2px;
		height: 20px;
		width: 20px;
		padding: 15px;
		background-size: 100%;
		background-origin: content-box;
		background-repeat: no-repeat;
		background-image: url(/img/logout.png);
	}
	#headerlabel {
		text-align: center;
		font-size: 20px;
		line-height: 20px;
		padding: 17px 0 13px 0;
		letter-spacing: -2px;
		font-weight: 300;
		width: 100%;
	}
	#home {
		position: absolute;
		padding: 15px;
		left: 0;
		top: 2px;
		background-size: 100%;
		background-origin: content-box;
		background-repeat: no-repeat;
		height: 23px;
		width: 23px;
		background-image: url(/img/home.png);
	}
}
footer {
	height: 150px;
}
/*
MODULES
*/
.module {
	float: left;
	position: relative;
	width: 100%;
	height: 70px;
	border-bottom: solid 1px @light;
	.nexticon {
		position: absolute;
		height: 20px;
		width: 20px;
		background-image: url(/img/next.png);
		background-size: 100%;
		background-repeat: no-repeat;


		//vertically center
		top: 50%;
		margin-top: -10px;
		right: 15px;
	}
	.text {
		padding: 15px 40px 15px 15px;
		.code {
			overflow: hidden;
			width: 100%;
			letter-spacing: -2px;
			font-size: 23px;
			font-weight: 300;
			line-height: 25px;
		}
		.desc {
			overflow: hidden;
			width: 100%;
			font-size: 13px;
			font-weight: 300;
			line-height: 15px;
			height: 15px;
			color: lighten(#555,20%);
		}
	}
}
/*
NAVBAR
*/
#nav {
	border-bottom: solid 1px @light;
	padding: 0 15px;
	text-align: center;
	.tab {
		display: inline-block;
		font-size: 15px;
		padding: 10px 0px 5px 0;
		margin-right: 15px;
		text-transform: capitalize;
	}
	.active {
		color: black;
		font-weight: bold;
		border-bottom: solid 1px;
		margin-bottom: -1px;
	}
}
/*
ANNOUNCEMENTS
*/
.announcementsview {
	float: left;
	width: 100%;
	.announcementinfo {
		border-bottom: solid 1px @light;
		float: left;
		width :100%;
		padding: 10px 0px;
		text-align: center;
		font-size: 15px;
	}
	.announcement {
		border-bottom: solid 1px darken(@light,20%);
		float: left;
		width :100%;
		padding: 10px 0px;
		.title {
			font-size: 20px;
			padding: 0px 5px;
		}
		.info {
			padding: 0px 5px;
			font-size: 13px;
			color: lighten(#555, 20%);
			.author {
				float: left;
			}
			.date {
				float: right;
			}
		}
		.content {
			display: none;
			float: left;
			padding: 0px 5px;
			margin: 5px 0px;
			border-top: dashed 1px @light;
			font-size: 15px;
		}
	}
	.active {
		background-color: lighten(@light, 5%);
		.content {
			display: block;
		}
	}
}
/*
WORKBIN
*/
.workbinview {
float: left;
width: 100%;
	.workbininfo {
		float: left;
		border-bottom: solid 1px @light;
		width :100%;
		padding: 10px 0px;
		text-align: center;
		font-size: 15px;
	}
	#workbinnav {
		float: left;
		border-bottom: solid 1px darken(@light, 20%);
		width: 100%;
		position: relative;
		#back {
			position: absolute;
			left: 0;
			top: 0;
			height: 30px;
			min-width: 60px;
			padding: 5px;
			.backicon {
				float: left;
				height: 20px;
				width: 20px;
				padding :5px 0px;
				background-size: 100%;
				background-origin: content-box;
				background-repeat: no-repeat;
				background-image: url(/img/back2.png);
			}
			.backitem {
				font-size: 12px;
				line-height: 15px;
				float: left;
				padding: 7px 0px;
			}
		}
		.currentitem {
			padding: 13px 0px 7px 0px;
			margin: 0px 80px;
			text-align: center;
			font-size: 15px;
		}
	}
	#workbincontents {
		float:left;
		width: 100%;
		.itemview {
			border-bottom: solid 1px @light;
			padding: 10px 0px;
			position: relative;
			.itemicon {
				position: absolute;
				left: 0;
				top: 5px;
				background-size: 100%;
				background-origin: content-box;
				background-repeat: no-repeat;
				height: 25px;
				width: 25px;
				padding: 10px;
			}
			.title {
				font-size: 20px;
				padding: 0px 45px;
			}
			.info {
				padding: 0px 45px;
				font-size: 13px;
				color: lighten(#555, 20%);
			}
		}
	}
	.folderview {
		.itemicon {
			background-image: url(/img/folder.png);
		}
	}
}