<script id='headeruser' type='text/html'>
	<div id='home' title='home'></div>
	<div id='logout' title='logout'></div>
</script>


<script id='mainview' type='text/html'>
	<div id='leftbar'></div>
	<div id='contentcontainer'></div>
</script>

<script id='emptyfolder' type='text/html'>
	<div class='folder'>
		<span>this folder is empty.</span>
	</div>
</script>
<script id='loadingfolder' type='text/html'>
	<div class='folder'>
		<span>loading...</span>
	</div>
</script>


<script id='moduleview' type='text/html'>
	<div class='moduletap'></div>
	<div class='modulecode'>{{code}}</div>
</script>

<script id='moduleicon' type='text/html'>
	<div class='moduleicon {{type}}' title="{{type}}"></div>
</script>


<script id='workbinview' type='text/html'>
	<div id='workbinheading'>
		<div id='back'></div>
	</div>
	<div id='filescontainer'><div>
</script>
<script id='breadcrumb' type='text/html'>
	<span>{{name}}</span>
</script>



<script id='itemview' type='text/html'>
	<div class="itemname">
		<div class='itemicon {{filetype}}'></div>
		<span>{{name}}</span>
	</div>
	<div class="itemdesc"> 
		<span>{{type}}</span> : <span>{{size}}</span>
	</div>
</script>