<!-- MAIN -->
<script id='moduleview' type='text/html'>
	<div class='modulecode'>{{code}}</div>
</script>
<script type="text/html" id="contentview">
	<div id="tabs"></div>
	<div id="tabcontent"></div>
</script>

<!-- BREADCRUMBS -->
<script id='breadcrumb' type='text/html'>
	<div class='arrow'></div>
	<span>{{name}}</span>
</script>
<script id='breadcrumbicon' type='text/html'>
	<div class='icon {{type}}icon'></div>
</script>


<!-- FORUM -->
<script type='text/html' id='forumview'>
	<div class='tabheading' id='forumheader'></div>
	<div class='tabcontents'>
		<!-- <div class='tabrowinfo tabrow'>
			<div class="rowname">
				<div class='rowicon'></div>
				<span>Title</span>
			</div>
			<div class="rowcol2"></div> 
			<div class="rowcol3"></div>
		</div> -->
		<div id='forumcontents'></div>
	</div>
</script>
<script type='text/html' id='forumheadingview'>
	<div class="rowname">
		<div class='rowicon headingicon'></div>
		<span>{{name}}</span>
	</div>
	<div class="rowcol2"></div>
	<div class="rowcol3"></div>
</script>
<script type='text/html' id='forumthreadview'>
	<div class='rowicon threadicon'></div>
	<div class='posttitle'>
		<div class='posttitlemain'>
			<span class='main'>{{ name }}</span>
			<span class='dot'>&middot;</span>
			<span class='author'>{{ author }}</span>
		</div>
		<span class='date'>{{ nicedate }}</span>
	</div>
</script>
<script type='text/html' id='forumthreadsthreadview'>
	<div class="rowname">
		<span>{{title}}</span>
	</div>
	<div class="rowcol2"></div>
	<div class="rowcol3"></div>
</script>
<script type='text/html' id='forumpost'>
	<div class='subthreadicon'></div>
	<div class='posttitle'>
		<div class='posttitlemain'>
			<span class='main'>{{ name }}</span>
			<span class='dot'>&middot;</span>
			<span class='author'>{{ author }}</span>
		</div>
		<span class='date'>{{ nicedate }}</span>
	</div>
	<div class='postbody'>{{{ body }}}</div>
	<div class='subthreads'></div>
</script>


<!-- ANNOUNCEMENTS -->
<script type='text/html' id='announcementview'>
<div class='posttitle'>
		<div class='posttitlemain'>
			<span class='main'>{{ title }}</span>
			<span class='dot'>&middot;</span>
			<span class='author'>{{ from }}</span>
		</div>
		<span class='date'>{{ nicedate }}</span>
	</div>
	<div class='postbody'>{{{ contents }}}</div>
</script>
<script type='text/html' id='inforow'>
	<div class='inforow tabrow'>{{text}}</div>
</script>


<!-- WORKBIN -->
<script id='emptyfolder' type='text/html'>
	<div class='folder'>
		<span>this folder is empty.</span>
	</div>
</script>
<script id='loadingfolder' type='text/html'>
	<div class='folder'>
		<span>loading...</span>
	</div>
</script>
<script id='workbinview' type='text/html'>
	<div class='tabheading' id='workbinheading'></div>
	<div class='tabrowinfo tabrow'>
		<div class="rowname">
			<div class='rowicon'></div>
			<span>Name</span>
		</div>
		<div class="rowcol2">Kind</div>
		<div class="rowcol3">Size</div>
	</div>
	<div id='filescontainer'><div>
</script>
<script id='itemview' type='text/html'>
	<div class="rowname">
		<div class='rowicon {{filetype}}'></div>
		<span>{{name}}</span>
	</div>
	<div class="rowcol2">{{kind}}</div>
	<div class="rowcol3">{{size}}</div>
</script>