<!-- MAIN -->
<script id='moduleview' type='text/html'>
	<div class='modulecode'>{{code}}</div>
</script>
<script type="text/html" id="contentview">
	<div id="tabs"></div>
	<div id="tabcontent"></div>
</script>


<!-- FORUM -->
<!-- <div class='tabheading' id='forumheader'>{{ title }}</div> -->
<script type='text/html' id='forumview'>
	
	<div id='forumcontainer'></div>
</script>
<script type='text/html' id='forumheadingview'>
	<div class="rowname">
		<span>{{title}}</span>
	</div>
	<div class="rowcol2"></div>
	<div class="rowcol3"></div>
</script>
<script type='text/html' id='forumthreadsthreadview'>
	<div class="rowname">
		<span>{{title}}</span>
	</div>
	<div class="rowcol2"></div>
	<div class="rowcol3"></div>
</script>
<script type='text/html' id='forumpost'>
	<div class='posttitle'>
		<span class='main'>{{ title }} </span>
		<span class='author'>{{ name }}</span>
		<span class='date'>{{ date }}</span>
	</div>
	<div class='postbody'>{{{ body }}}</div>
	<div class='subthreads'></div>
</script>


<!-- ANNOUNCEMENTS -->
<script type='text/html' id='announcementview'>
	<div class='posttitle'>
		<span class='main'>{{ title }} </span>
		<span class='author'>{{ from }}</span>
		<span class='date'>{{ date }}</span>
	</div>
	<div class='postbody'>{{{ contents }}}</div>
</script>
<script type='text/html' id='inforow'>
	<div class='inforow tabrow'>{{text}}</div>
</script>


<!-- WORKBIN -->
<script id='emptyfolder' type='text/html'>
	<div class='folder'>
		<span>this folder is empty.</span>
	</div>
</script>
<script id='loadingfolder' type='text/html'>
	<div class='folder'>
		<span>loading...</span>
	</div>
</script>
<script id='workbinview' type='text/html'>
	<div class='tabheading' id='workbinheading'></div>
	<div id='filescontainertop' class='tabrow itemview'>
		<div class="rowname">
			<div class='rowicon'></div>
			<span>Name</span>
		</div>
		<div class="rowcol2">Kind</div>
		<div class="rowcol3">Size</div>
	</div>
	<div id='filescontainer'><div>
</script>
<script id='breadcrumb' type='text/html'>
	<div class='arrow'></div>
	<span>{{name}}</span>
</script>
<script id='breadcrumbworkbin' type='text/html'>
	<div class='breadcrumbworkbin'></div>
</script>
<script id='itemview' type='text/html'>
	<div class="rowname">
		<div class='rowicon {{filetype}}'></div>
		<span>{{name}}</span>
	</div>
	<div class="rowcol2">{{kind}}</div>
	<div class="rowcol3">{{size}}</div>
</script>