<!-- MAIN -->
<script id='moduleview' type='text/html'>
	<div class='modulecode'>{{code}}</div>
</script>
<script id='moduleicon' type='text/html'>
	<div class='moduleicon {{type}}' title="{{type}}"></div>
</script>
<script type="text/html" id="contentview">
	<div id="tabs"></div>
	<div id="tabcontent"></div>
</script>


<!-- FORUM -->
<script type='text/html' id='forumview'>
	<div id='forumheader'>HEADER</div>
	<div id='forumcontainer'></div>
</script>
<script type='text/html' id='forumheadingview'>
	<span>{{title}}</span>
</script>
<script type='text/html' id='forumthreadsthreadview'>
	<div>{{title}}</div>
</script>
<script type='text/html' id='forumsinglethreadview'>
	<div>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam porta sem malesuada magna mollis euismod.

Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui.

Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Donec sed odio dui. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam quis risus eget urna mollis ornare vel eu leo.

Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
</script>


<!-- ANNOUNCEMENTS -->
<script type='text/html' id='announcementview'>
	<div class='title'>
		<div class='left'>
			{{ title }} 
			<span class='from'>{{ from }}</span>
		</div>
		<span class='date'>{{ date }}</span>
	</div>
	<div class='contents'>{{{ contents }}}</div>
</script>
<script type='text/html' id='announcementsinfo'>
	<div class='announcementinfo'>{{text}}</div>
</script>


<!-- WORKBIN -->
<script id='emptyfolder' type='text/html'>
	<div class='folder'>
		<span>this folder is empty.</span>
	</div>
</script>
<script id='loadingfolder' type='text/html'>
	<div class='folder'>
		<span>loading...</span>
	</div>
</script>
<script id='workbinview' type='text/html'>
	<div id='workbinheading'>
		<div class='breadcrumbs'></div>
	</div>
	<div id='filescontainertop' class='itemview'>
		<div class="itemname">
			<span>Name</span>
		</div>
		<div class="itemtype">
			<span>Kind</span>
		</div>
		<div class="itemsize">
			<span>Size</span>
		</div>
	</div>
	<div id='filescontainer'><div>
</script>
<script id='breadcrumb' type='text/html'>
	<div class='arrow'></div>
	<span>{{name}}</span>
</script>
<script id='itemview' type='text/html'>
	<div class="itemname">
		<div class='itemicon {{filetype}}'></div>
		<span>{{name}}</span>
	</div>
	<div class="itemtype">
		<span>{{kind}}</span>
	</div>
	<div class="itemsize">
		<span>{{size}}</span>
	</div>
</script>