<script type="text/html" id='about'>
	<div class='wrapper page'>
		<div class='pagetitle center'>About.</div>
		<article class='about center'>
			<p>MODIVLE is a NUS IVLE client that provides an alternative to accessing information in IVLE.</p>
			<p>
				It strips down IVLE to its core features:
				<ul>
				<li>Announcements</li>
				<li>Workbin</li>
				<li>Forum</li>
				</ul>
			</p>
			<p>These features are used most often by students.</p>
			<p>MODIVLE hopes to make using IVLE a more enjoyable experience.</p>
		</article>
	</div>
</script>
<script type="text/html" id='features'>
	<div class='wrapper page'>
		<div class='pagetitle center'>Features.</div>
		<article class='featured center'>
			<div class='list'>
				<div class='text'>
					<p class='title'>Less noise, more work</p>
					<p class='desc'>
						IVLE minus the clutter.
						<br />
						No popups, blinking text or annoying iframes.
					</p>
				</div>
				<img id='lessnoise' src='/img/landing/lessnoise.jpg'>
			</div>
			<div class='list'>
				<div class='text'>
					<p class='title'>Any device</p>
					<p class='desc'>
						Access MODIVLE from your desktop or your phone.
						<br />
						The mobile version is not just a smaller desktop version.
						<br /> 
						It is a completely reworked application to fully maximise the user experience.
					</p>
				</div>
				<img id='mobile' src='/img/landing/mobile.jpg'>
			</div>
			<div class='list'>
				<div class='text'>
					<p class='title'>Only the stuff you really need</p>
					<p class='desc'>
						<span class='emphasis'>announcements</span>
						<span class='emphasis'>workbin</span>
						<span class='emphasis'>forum</span>

						<span class='strikethrough'>weblinks</span>
						<span class='strikethrough'>carreer center</span>
						<span class='strikethrough'>library portal</span>
						<span class='strikethrough'>used textbooks</span>
						<span class='strikethrough'>student events</span>
						<span class='strikethrough'>bookmarks</span>
						<span class='strikethrough'>communities</span>
						<span class='strikethrough'>my organiser</span>
						<span class='strikethrough'>resource banks</span>
						<span class='strikethrough'>profile</span>
						<span class='strikethrough'>usage statistics</span>
					</p>
				</div>
				<img id='onlythestuff' src='/img/landing/onlythestuff.jpg'>
			</div>
			<div class='list'>
				<div class='text'>
					<p class='title'>Blitz through the application</p>
					<p class='desc'>
						Keyboard shortcuts allow you to navigate the application to get what you want faster.
					</p>
				</div>
				<img id='keyboard' src='/img/landing/keyboard.jpg'>
			</div>
			<div class='list'>
				<div class='text'>
					<p class='title'>Designed for happiness</p>
					<p class='desc'>
						We try. Really.
					</p>
				</div>
			</div>
		</article>
	</div>
</script>