<script type="text/html" id="headerhome">
		<img id='logo' src='img/logo/modivleblack.png'></div>
		<div id='logout'></div>
</script>
<script type="text/html" id="singlemoduleheader">
		<div id='home'></div>
		<div id='headerlabel'>{{ code }}</div>
		<div id='logout'></div>
</script>

<!-- MODULE VIEW -->
<script type="text/html" id='moduleview'>
	<div class='text'>
		<span class='main'>{{ code }}</span>
		<span class='desc'>{{ name }}</span>
	</div>
	<div class='nexticon icon'></div>
</script>

<!-- WORKBIN VIEW -->
<script type="text/html" id='itemview'>
	<div class='{{type}}icon icon'></div>
	<div class='text'>
		<span class='main'>{{ name }}</span>
		<span class='desc'>{{ kind }}, {{ size }}</span>
	</div>
</script>







<!-- ANNOUNCEMENTS VIEW -->
<script type="text/html" id='announcementlist'>
	<div class='announcementicon icon'></div>
	<div class='text'>
		<span class='main'>{{ title }}</span>
		<span class='desc'>{{ from }}, {{ nicedate }}</span>
	</div>
	<div class='nexticon icon'></div>
</script>











<!-- INFO VIEW -->
<script type='text/html' id='infoview'>
	<div class='info'>{{text}}</div>
</script>



<script type='text/html' id='workbinview'>
	<div id='workbinnav'></div>
	<div id='workbincontents'></div>
</script>

<!-- NAV VIEW -->
<script type='text/html' id='navview'>
	<div class='back'></div>
	<div class='label'>{{label}}</div>
</script>
