<script type="text/html" id="singlemoduleheader">
		<div id='back'>
			<div class='home icon'></div>
		</div>
		<div id='headerlabel'>{{ code }}</div>
		<div id='logout'></div>
</script>




<script type="text/html" id='moduleview'>
	<div class='text'>
		<div class='code'>{{ code }}</div>
		<div class='desc'>{{ name }}</div>
	</div>
</script>

<script type="text/html" id='announcementsview'>
	<div class='announcement'>
		<div class='title'>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</div>
		<div class='author'>Praesent commodo</div>

	</div>
	<div class='announcement'></div>
	<div class='announcement'></div>
	<div class='announcement'></div>
	<div class='announcement'></div>
	<div class='announcement'></div>
	<div class='announcement'></div>
	<div class='announcement'></div>
</script>
<script type="text/html" id='announcementtitle'>
	<div class='title'>{{ title }}</div>
	<div class='info'>
		<span class='author'>{{ from }}</span>
		<span class='date'>{{ date }}</span>
	</div>

</script>
<script type='text/html' id='announcementsinfo'>
	<div class='announcementinfo'>{{text}}</div>
</script>