<script id='login' type='text/html'>
	<div id='loginwrapper'>
		<a id="login">login to ivle</a>
	</div>
</script>
<script id='mainview' type='text/html'>
	<div id='leftbar'>

	</div>
	<div id='contentcontainer'>

	</div>
</script>
<script id='moduleview' type='text/html'>
	<span class='modulename'> {{name}} </span>
	<span class='modulecode'> {{code}} </span>
	<div class='moduleicons'></div>
</script>
<script id='moduleicon' type='text/html'>
	<div class='moduleicon {{type}}' title="{{type}}"></div>
</script>