#container
  header
    #header_container.
        <div id='login' title='login'>
          <img class='loginhere' src='img/logintop.png'/>
        </div>
  #main_container
script(data-main="js/login", src="js/libs/require.js")