extend layouts/main

block content
	#overlay
		.loading
			#close
	#container
		header
			#header_container
		#main_container
	script(type='text/javascript') 
		var bootstrap = !{JSON.stringify(bootstrap)};
	script(data-main="js/mobilemain", src="js/libs/require.js")